[submodule "dependencies/BufferLib"]
	path = dependencies/BufferLib
	url = https://github.com/ravi688/BufferLib
[submodule "shared-dependencies/CallTrace"]
	path = shared-dependencies/CallTrace
	url = https://github.com/ravi688/CallTrace.git
